<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8">
	<title>The Center of Equity and Inclusion</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
  	<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
  		
	<script>
		//Script to print current date, retrieved from fellow student
		function printToday() {
		 	var today = new Date();
		 	document.write(today.toDateString());
		}
	</script>
	
</head>
<body id="bootstrap-override">
	Today's Date: <script>printToday();</script>
	<a class="btn btn-success btn-sm" href = "/stats">Go back</a>
	<a class="btn btn-primary btn-sm" href = "/logout">Logout</a>

	<div class="container-fluid text-center">
		<div class="col-sm-12 col-md-12 col-lg-10 user-table">
			<div class="jumbotron mt-4 mb-0 pt-4 pb-1">
				<h1 class="display-4">User Event History</h1>
				
				
				<div class="mt-3">
					<div class= "dateTimeFilter">								 			
				     <input type="text" name="min"  id="min" placeholder="From">
					<input type="text"name="max" id="max" placeholder="To">
					<p>Ex: 2/8/2013 09:30:26</p>
					</div>					   
				</div>
			</div>		
			
				<table id="user-table" class="table table-hover mt-0">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">First Name</th>
				      <th scope="col">Last Name</th>   	
				      <th scope="col">Email</th>
				      <th scope="col">Member Type</th>				  
				      <th scope="col">Last Attended</th>			 
				      <th scope="col">Purpose</th>			 
				    </tr>
				  </thead>
				  <tbody>
				  	<% userList.forEach(function(user) { %>
				  		<tr class="table-rows">
					      <td><%= user.firstName %></td>
					      <td><%= user.lastName %></td>
					      <td><%= user.username %></td>
					      <td><%= user.rank %></td>					 
					      
					      <% var eventFlag = false; %>
					      <% for(var i = user.reasons.length - 1; i >= 0; i--) { %>
					      		<% if(user.reasons[i].text === "Program Event") { %>
					      			<% if(user.reasons[i].time === null) { %>
					      				<td>N/A</td>
					      			<%} else { %>
					      				<td><%= moment(user.reasons[i].time).tz('America/Los_Angeles').format('MMMM Do YYYY, h:mm:ss a') %></td>
					      			<%} %>
					      			<td><%= user.reasons[i].text %></td>
					      			<% eventFlag = true; %>
					      			<% break; %>	
					      		<% } %>
					  	  <% } %>
					      <% if (!eventFlag) { %>
					      		<td>N/A</td>
					      		<td>N/A</td>
					      <% } %>
				   	 	</tr>
				  	<% });%>
				  	
				  </tbody>
				</table>
			
		</div>
	</div>

<script>
	$(document).ready(function() {
		$.fn.dataTable.ext.search.push(
			    function( settings, data, dataIndex ) {
			        var min = moment($('#min').val());			        
			        var max = moment( $('#max').val());			        			       
			        var age = moment( data[4], 'MMMM Do YYYY, h:mm:ss a' ) || 0;
			       
			       
			 
			        if ( ( isNaN( min ) && isNaN( max ) ) ||
			             ( isNaN( min ) && age <= max ) ||
			             ( min <= age   && isNaN( max ) ) ||
			             ( min <= age   && age <= max ) )
			        {
			            return true;
			        }
			        return false;
			    }
		);			
		$.fn.dataTable.moment( 'MMMM Do YYYY, h:mm:ss a' );
		var table =  $('#user-table').DataTable({
			"sScrollX": "100%",
			"sScrollXInner": "100%",

		});
		$('#min, #max').keyup( function() {
		        table.draw();
		});
	});
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>