<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset = "utf-8">
	<title>The Center of Equity and Inclusion</title>	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<!-- <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
  	<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
  		
	<script>
		//Script to print current date, retrieved from fellow student
		function printToday() {
		 	var today = new Date();
		 	document.write(today.toDateString());
		}
	</script>
	

</head>
<body id="bootstrap-override">
	Today's Date: <script>printToday();</script>
	<a class="btn btn-primary btn-sm" href = "/logout">Logout</a>
	<div class="container">	
			<% if(error && error.length > 0) { %>
				<div class="alert alert-danger" role="alert"><%= error %></div>
			<% } %>
			<% if(success && success.length > 0) { %>
				<div class="alert alert-success" role="alert"><%= success %></div>
			<% } %>
	</div>

	<div class="container-fluid text-center">
		<h1 class="display-4">User Statistics</h1>
		<div class="row totalCounts">
			<div class="col-sm-3 transparent-background">
				<h1 class="display-3"><%= userSum %></h1>
				<p class="lead stat-text">Total Users</p>				
			</div>
			<div class="col-sm-3 transparent-background">
				<h1 class="display-3"><%= loginSum %></h1>
				<p class="lead stat-text">Total Logins</p>				
			</div>
			<div class="col-sm-3 transparent-background">
				<h1 class="display-3"><%= dailyLoginSum %></h1>
				<p class="lead stat-text">Daily Logins</p>				
			</div>
			<div class="col-sm-3 transparent-background">
				<h1 class="display-3"><%= newUsers.length %></h1>
				<p class="lead stat-text">Daily New Users</p>				
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-sm-12 col-md-6 col-lg-4 mb-4">				
				<div id="chartContainer" style="height: 360px; width: 100%;"></div>		
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4 mb-4">				
				<div id="chartContainer2" style="height: 360px; width: 100%;"></div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-4">				
				<div id="chartContainer3" style="height: 360px; width: 100%;"></div>
			</div>
		</div>

		<div class="col-sm-12 col-md-12 col-lg-10 user-table">
			<div class="jumbotron mt-4 mb-0 pt-4 pb-1">
			<h1 class="display-4">User List</h1>
			<button id="subscribe-button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Subscriber Email List</button>
			<a href="/events" class="btn btn-success">Events</a>
			<button class="btn btn-danger" data-toggle="modal" data-target="#deleteUsersModal">Clear Users</button>
			
			
			<div class="mt-3">
				<div class= "dateTimeFilter">
				
				 <label for="exampleFormControlSelect1">Filter by: </label>
			    <select class="mb-1" id="filterType">
			      <option value="Joined Date">Joined Date</option>
			      <option value="Recent Login">Recent Login</option>			  
			    </select>
			
			
			     <input type="text" name="min"  id="min" placeholder="From">
				<input type="text"name="max" id="max" placeholder="To">
				<p>Ex: 2/8/2013 09:30:26</p>
			</div>					   
			</div>				
		</div>	
			<div class="mb-4">				
				<table id="user-table" class="table table-hover mt-0">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">First Name</th>
				      <th scope="col">Last Name</th>   	
				      <th scope="col">Email</th>
				      <th scope="col">Member Type</th>
				      <th scope="col">Subscriber</th>
				      <th scope="col">Total Logins</th>
				      <th scope="col">Joined Date</th>
				      <th scope="col">Recent Login</th>			 
				      <th scope="col">Purpose</th>			 
				    </tr>
				  </thead>
				  <tbody>
				  	<% userList.forEach(function(user) { %>
				  		<tr class="table-rows">
					      <td><%= user.firstName %></td>
					      <td><%= user.lastName %></td>
					      <td><%= user.username %></td>
					      <td><%= user.rank %></td>
					      <td><%= user.subscribe %></td>
					      <td><%= user.reasons.length %></td>
					      <td><%= moment(user.userSince).tz('America/Los_Angeles').format('MMMM Do YYYY, h:mm:ss a') %></td>
					      <td><%= moment(user.lastLogin.time).tz('America/Los_Angeles').format('MMMM Do YYYY, h:mm:ss a') %></td>
					      <td><%= user.reasons[user.reasons.length - 1].text %></td>
				   	 	</tr>
				  	<% });%>
				  </tbody>
				</table>
			</div>
		</div>
		
	</div>
	
	<div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog modal-lg">
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title"><strong>Subscriber Email List</strong></h4>
		        </div>
		        <div class="modal-body">
		          <p class="lead">Copy and paste this list into your email recepient:</p>
		          <p id="emailList"></p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		    </div>
		  </div>
	</div>
	<div class="modal fade" id="deleteUsersModal" role="dialog">
		    <div class="modal-dialog">
		      <div class="modal-content" id="deleteModal">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title"><strong>Are You Sure?</strong></h4>
		        </div>
		        <div class="modal-body">
		          <p class="lead">This action can not be undone. Type the word "Confirm" to complete the process</p>
		          <input type="text" id="deleteConfirm" name="deleteConfirm">
		          <form action="/deleteUsers?_method=DELETE" method="POST">
		          	<button class="btn btn-danger mt-4" id="deleteUsers" disabled="true">YES</button>
		          </form>		          
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		    </div>
		  </div>
	</div>
	
	
	
	<script type="text/javascript">
		window.onload = function() {

		var options = {
			animationEnabled: true,
 			backgroundColor: "white",
			title: {
				text: "Distribution of Reasons",
				fontColor: "#4b2e83"
			},
			data: [{
				type: "pie",
				startAngle: 45,
				indexLabel: "{label} ({y})",
				yValueFormatString:"##0.0\"%\"",
				indexLabelFontWeight: "bold",
				dataPoints: [
					<% reasons.forEach(function(reason) { %>
						{ label: "<%= reason._id %>", y: <%= (reason.total/loginSum)*100 %> },
					<%});%>						
				]
			}]
		};
		var options2 = {
			animationEnabled: true,
 			backgroundColor: "white",
			title: {
				text: "Distribution of Members",
				fontColor: "#4b2e83"
			},
			data: [{
				type: "pie",
				startAngle: 45,
				indexLabel: "{label} ({y})",
				yValueFormatString:"##0.0\"%\"",
				indexLabelFontWeight: "bold",
				dataPoints: [
					<% ranks.forEach(function(rank) { %>
						{ label: "<%= rank._id %>", y: <%= (rank.total/userSum)*100 %> },
					<%});%>						
				]
			}]
		};
		var chart = new CanvasJS.Chart("chartContainer3", {
			animationEnabled: true,
			
			title:{
				text:"Subscribers",
				fontColor: "#4b2e83"
			},
			axisX:{
				interval: 1,
			
			},
			axisY2:{
				interlacedColor: "rgba(75, 46, 131,0.05)",
				gridColor: "rgba(1,77,101,.1)",
			},
			data: [{
				type: "bar",
				name: "companies",
				axisYType: "secondary",
				color: "#4b2e83",
				indexLabelFontWeight: "bold",
				dataPoints: [
					<% subscribe.forEach(function(subscribe) { %>
						{ y: <%= subscribe.total %>, label: "<%= subscribe._id.toUpperCase() %>" },
					<%});%>					
				]
			}]
		});
		chart.render();
		$("#chartContainer").CanvasJSChart(options);
		$("#chartContainer2").CanvasJSChart(options2);
		
		}

		$(document).ready(function() {
			$("#subscribe-button").click(function() {
				$.ajax({
				type: 'GET',
				url: '/subscribers',
			}).done(function(data) {
				$("#emailList").text(data);
			}).fail(function(jqXHR, textStatus, err) {
				console.log(textStatus);
			});
			});
			$.fn.dataTable.ext.search.push(
			    function( settings, data, dataIndex ) {
			        var min = moment($('#min').val());			        
			        var max = moment( $('#max').val());
			        var age;
			        if ($('#filterType').val() === "Joined Date") {
			        	age = moment( data[6], 'MMMM Do YYYY, h:mm:ss a' ) || 0;
			        } else {
			        	age = moment( data[7], 'MMMM Do YYYY, h:mm:ss a' ) || 0;
			        }			        
			       
			       
			 
			        if ( ( isNaN( min ) && isNaN( max ) ) ||
			             ( isNaN( min ) && age <= max ) ||
			             ( min <= age   && isNaN( max ) ) ||
			             ( min <= age   && age <= max ) )
			        {
			            return true;
			        }
			        return false;
			    }
			);			
			 $.fn.dataTable.moment( 'MMMM Do YYYY, h:mm:ss a' );

			var table =  $('#user-table').DataTable({
				"sScrollX": "100%",
				"sScrollXInner": "100%",
			});
			
			 $('#min, #max').keyup( function() {
		        table.draw();
		     } );

		     $("#filterType").bind("change keyup", function(){
				  table.draw();
			});

		    $("#deleteConfirm").keyup(function() {
		    	$("#deleteUsers").prop("disabled", true);
				 if( $("#deleteConfirm").val() === 'Confirm') {
				    $("#deleteUsers").prop("disabled", false);
				 }
		    });

				
					
		});		
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>  --> 
	<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>